.home-container{
    display: flex;
    z-index: 90;
    flex-flow: column wrap;
    align-content: center;
    
    width: 90%;
    margin-top: 8%;
    margin-left: 5%;

}

input {
    /* width: 40%; */
    /* font-size: x-large; */
}


