#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    box-sizing: border-box;
    z-index: 100;
    background-color: #161a1d;
    padding: 0 10px 0 20px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.35);
    
}
#over {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
#header a {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 2.3em;
    letter-spacing: 3px;
    user-select: none;
    color: #fff;
}

#main-title {
    font-family: 'EB Garamond';
    font-size: 2.5em;
    font-weight: 700;
    text-decoration: none;
    margin: 0;
    user-select: none;
}

/*************   SUB INFO   *************/

#header-sub-info {
    display: flex;
    
    justify-content: center;
    margin-bottom: 3px;
}
#header-sub-info p {
    font-family: 'Oswald';
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    color: #fff;
}
.div-sub-info {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0 5px;
    height: 35px;
}
.div-sub-info:hover {
    background-color: rgba(255, 255, 255, 0.07);
    cursor: pointer;
}

.div-weather {
    margin-right: 20px;
}

#weather-icon {
    margin-right: 8px;
    width: 35px;
    user-select: none;
    background-color: rgba(214, 217, 218, 0.6);
    border-radius: 16px;
}



/*************   SUB MORE INFO   *************/

.more-info {
    display: block;
    background-color: #fff;
    position: relative;
    left: -100px;
    width: 200%;

    text-align: center;
}




@media screen and (max-width: 410px) {
    h1 {
        font-size: 1.5em;
    }
    #header-sub-info p{
        font-size: 0.75em;

    }
    #weather-icon {
        width: 20px;
    }

    #over a {
        font-size: 0.7em;
    }
}