#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    box-sizing: border-box;
    z-index: 100;
    background-image: linear-gradient( to bottom right, rgb(110, 237, 211), rgb(5, 166, 183)  );
    /* background-color: #5cc7b2; */
    /* background-image: repeating-linear-gradient(to bottom, rgb(110, 237, 211) 10%,  rgb(5, 166, 183) 10% ); */
    padding: 0 10px 0 20px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.35);
    
}
#over {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
#over a {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1.18em;
    color: #000;
}
h1 {
    font-family: 'EB Garamond';
    font-size: 2.3em;
    margin: 0;
}
#header-sub-info {
    display: flex;
    
    justify-content: space-between;
    margin-bottom: 3px;
}
#header-sub-info p {
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 1em;
    margin: 0;
}
#div-weather {
    display: flex;
    align-items: center;
}
#weather-icon {
    margin-left: 8px;
    width: 35px;
}

#assets {
    align-self: flex-end;
    float: right;
}

#assets img {
    height: 17px;
    width: 17px;
    margin: 0 4px;
}





