#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    box-sizing: border-box;
    z-index: 100;
    background-color: #161a1d;
    padding: 0 10px 0 20px;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.35);
    
}
#over {
    display: flex;
    width: 100%;
    justify-content: center;
}

#header a {
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 2.5em;
    color: #fff;
    text-decoration: none;

    letter-spacing: 3px;
    user-select: none;
}

/*************   SUB INFO   *************/

#header-sub-info {
    display: flex;
    
    justify-content: center;
    margin-bottom: 3px;
}
#header-sub-info p {
    font-family: 'Oswald';
    margin: 0;
}

#div-main-weather, #div-main-dolar {
    height: 35px;
    width: 15%;
}

.div-sub-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 0 5px;
    height: 35px;
    color: #fff;
}
.div-sub-info:hover {
    background-color: rgba(255, 255, 255, 0.07);
    cursor: pointer;
}


.div-weather img {
    margin-right: 8px;
    width: 35px;
    user-select: none;
    background-color: rgba(214, 217, 218, 0.6);
    border-radius: 16px;
}



/*************   SUB MORE INFO   *************/



.more-info {
    position: relative;
    left: -10px;
    width: 120%;

    display: block;
    background-color: rgb(10, 10, 10);
    color: #fff;
    border-radius: 8px;
    box-shadow: 1px 2px 6px 2px rgba(0,0,0, 0.45);
    padding-bottom: 15px;

    text-align: center;

    letter-spacing: 1px;
    word-spacing: 3px;
}

#more-info-dolar p {
    font-size: 0.9em;
}
#more-info-dolar {
    padding-top: 10%;
}


#more-info-dolar hr {
    margin: 6% 0;
}

.more-info p {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 5px;
}
.more-info-weather img {
    user-select: none;
}


.b-title-dolar {
    font-size: 1.6em;
    margin-bottom: 35px;
}



@media screen and (max-width: 410px) {
    h1 {
        font-size: 1.5em;
    }
    #header-sub-info p{
        font-size: 0.75em;

    }
    #weather-icon {
        width: 20px;
    }

    #over a {
        font-size: 0.7em;
    }
}