#conteiner-notFound {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 90;
    top: 130px;

    align-items: center;

    text-align: center;
    font-size: 1.4em;
    width: 100%;
    margin-bottom: 228px;
}

#img-notFound {
    width: 200px;
    height: 200px;
    width: 100%;
    user-select: none;
}

#div-inside {
    width: 15%;
}