#conteiner-notFound {
    display: flex;
    flex-direction: column;
    z-index: 90;

    align-items: center;

    font-size: 1.4em;
    margin-bottom: 5%;
    margin-top: 10%;
}

#img-notFound {
    width: 15%;
    user-select: none;
}